# Django settings
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=*,localhost,127.0.0.1,your-server-ip'

# Database settings
NAME=
USER=
PASSWORD=
HOST=
PORT=

# Stripe API Keys
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
FRONTEND_URL=http://localhost:3000
